---
// Component Imports
import Tour from '../components/Tour.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Eliseʻs Homepage';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<style>
    header {
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: min(100%, 68ch);
    }
    main > * {
        margin-top: 2em;
        
    }:root {
  --font-mono: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
    'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
  --color-light: #f3f4f6;
}

* {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: #1f2937;
  }
}

a {
  color: inherit;
}

header > div {
  font-size: clamp(2rem, -0.4742rem + 6.1856vw, 2.75rem);
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 1em;
  font-weight: 500;
}
header img {
  width: auto;
  height: 2.667em;
  margin-bottom: 2em;
}

h2 {
  font-weight: 500;
  font-size: clamp(1.5rem, 1rem + 1.25vw, 2rem);
}

.counter {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  font-size: 2rem;
  justify-content: center;
  padding: 2rem 1rem;
}

.counter > pre {
  text-align: center;
  min-width: 3ch;
}

</style>

<BaseLayout title={title}>
    <header>
        <div>
            <img src="/assets/IT_logo_H_RGB_lrge.jpg" alt="IT logo">
            <h1>Welcome to Elise's Homepage</h1>
        </div>
    </header>
    <main>
        <h2>Elise has made a homepage!</h2>

        <p>If you've landed here it's likely because you were looking at an unlinked resource on this website.</p>
        <p>Perhaps you're looking for a resource that you'll hopefully find linked below.</p>
        <ul>
            <li><a href="/about">About this site</a></li>
            <li>A base head with all the minimal required head elements</li>
            <li>A title prop that can be set on any page and has a default that can be set in the base layout</li>
        </ul>
    </main>
       
</BaseLayout>
